doctype 5
html(lang='es')
    head
        title login
        link(rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css")
        script(src="/static/bootstrap/js/jquery.js")
        script(src="/static/bootstrap/popper/dist/popper.js")
        script(src="/static/bootstrap/js/bootstrap.min.js")
        link(rel="stylesheet" href="/static/css/loading.css")
       
    body
        
        h1 login
        .container-fluid
            input(id ="bot" type = "button"   value="preisona") 
        #dato
            p aqui va el dato

            
        
        script(src="/static/js/fech.js")



 







